:root {
  --primary-text-color: rgba(0, 0, 0, 0.25);
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --hero-text-color: #ffffff;
  --feature-list-title: #757575;
  --primary-white-color: #ffffff;
  --primary-secondari-color: #f5f4fa;
}
/*#FFFFFF особености работы */
/*  цвет основного текста*/
/*акцент 2196f3*/
/*вторичный цвет фона F5F4FA*/
/*  button type 188CE8*/

body {
  background-color: var(--hero-text-color);
  color: var(--primary-bg-color);
}
/*убрали точки*/
.list {
  list-style: none;
}
ul {list-style:none
}

.logo {
  color: var(--accent-color);
}
.logo:hover {
  color: var(--accent-color);
}

/*sate nav*/
.site-nav .link {
  color: var(--accent-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--title-text-color);

}
.site-nav.link.current {
   color: var(--accent-color)
  }


/*Hero-*/
.hero-text-color {
  color: var(--primary-white-color);
  

/*Section*/
.hero-title {
  color: var(--title-text-color);
Font size: 44px

}

/*Feature*/
.feature-list,
title {
  color: #000000;
}
.feature-list .title {
  color: var(--feature-list-title);
}

/*Button*/
.button {
  color: var(--title-text-color);
  background-color: var(--primary-white-color);
  font-size: 16px; 
  line height: 26px
  
}
/*Кнопка первичная*/
.button.primary {
  background-color:var(--accent-color) ;
  color: #ffffff;
  
}
/*Кнопка вторичная*/
.button.secondari {
  color: var(--accent-color);
  background-color: var(--primary-secondari-color);
}
